/databases/incartdb/
/databases/mitdb/
/databases/svdb/



*.keras
*.h5
*.npy

/databases/challenge2020_data/
/databases/cudb/
/databases/nsrdb/
/databases/mnist/
/databases/rythm/
/main_model_rythm/single_class/d.npz
/main_model_rythm/single_class/dau.npz
/main_model_rythm/single_class/X.npz
/main_model_rythm/single_class/Xau.npz
/main_model_rythm/single_class/y.npz
/main_model_rythm/single_class/yau.npz
